* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    background-color: #000;
    color: white;
    text-align: center;
    font-family: monospace;
}

.encabezado {
    padding: 20px;
}

.titulo {
    font-size: 4rem;
    color: aliceblue;
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;  
}

.navegacion {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navegacion a:hover {
    color: #4800c3;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.contenedor {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.seccion {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.quienes-somos {
    background: white;
    color: black;
}

.actividades {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-family: "Impact", sans-serif;
    list-style: none;
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

.formulario {
    background: #001725;
}

h2 {
    font-family: "Impact", sans-serif;
    color: #4800c3;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

h3 {
    color: #4800c3;
    margin-bottom: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4800c3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #35008b;
}

.enlace {
    margin: 20px 0;
}

.enlace a {
    color: #4800c3;
    font-size: 1.2rem;
    text-decoration: none;
}

.enlace a:hover {
    color: white;
}

.pie {
    background-color: #4800c3;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

#switch {
    background-color: #bb00be;
    font-size: 1.3rem;
    font-family: "Impact", sans-serif;
    color: #ffffff;
}

#switch:hover {
    background-color: #25ff30;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}